body{padding:0px; margin:0px;}
p{font-size:18px;}
form{width:320px; margin-top:5px;}
.input{font-size:14px; padding:5px; color:#807c73; font-family:Georgia, "Times New Roman", Times, serif; width:175px;}
.ta{font-size:14px; padding:5px; color:#807c73; font-family:Georgia, "Times New Roman", Times, serif;}
.btn{cursor:pointer; background:#FFF; transition:all .4s linear; border-radius:1px; font-size:13px; padding:5px 0px; width:50px; color:#000; border:0px;}
.btn:hover{background:#666; color:#eefcf3;}