body, h1, h2, h3, h4, h5, h6, ul, li, ol, div, span, header, footer, nav, detail, figure, date, time,  section, p{margin:0px; padding:0px;} 
header, footer, nav, detail, figure, date, time,  section, span{display:block;}
body{font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#848581; background-color:#f3ffa7; background-repeat:repeat-x repeat-y;}
header{width:900px; margin:0px auto; margin-top:10px; padding:26px 0; height:58px;}
#drop
{
	visibility:hidden;
	color:#000;
}
#drop:hover
{
	visibility:visible;
	z-index:20;
}

.dropdown{display:none; transition:all .2s linear;}

.position:hover .dropdown{display:block; z-index:20; position:absolute;}



#top
{
	background:#1c9344;
	height:35px;
	min-width:810px;
}

a img
{
	height:80px;
	width:240px;
	float:left;
	margin-top:-15px;
}

.image_holder{
	
	
	width:815px;
	margin:0px auto;}

.slid img
{
	width:810px;
	height:540px;
	display:block;
	border:solid 1px black;
	position:relative;
}
.clear{clear:both;}

.image_holder:hover .image_caption p{ display:block;}
.image_holder:hover .image_caption{height:50px; margin-top:-50px;}

.image_caption{

height:0px;
width:812px;
position:absolute;	
margin-top:0px;
background:#000;
opacity:0.5;
transition:all .2s linear;

}

.image_caption p{
	display:none;
	transition:all .4s linear;
}


ul.navigation
{
	margin-left:200px;
	margin-top:20px;
}

ul.navigation li a{font-family:"Bell Gothic Std Black", Arial, Helvetica, sans-serif; font-weight:bold; font-size:14px; text-decoration:none; 
	transition:all .4s linear;
	font-size:12px;
	-ms-transition:all .4s linear;
	-webkit-transition:all .4s linear;
	-moz-transition:all .4s linear;
padding:10px; text-transform:uppercase;  color:#6f6f6e;}
.r
{
	background:black;
	opacity:0.6;
}
ul.navigation li a:hover{color:#fff;}


ul.navigation li{ font-family:"Arial Black", Gadget, sans-serif; list-style:none; width:100px; text-decoration:none;
    transition:all .4s linear; 
	-ms-transition:all .4s linear;	
	text-align:center;
	-webkit-transition:all .4s linear;	
	-moz-transition:all .4s linear;		 
padding:5px 15px; text-align:center; float:left;}

ul.navigation li:hover
{
	background:1C9344;
}

#about{
	margin-left:125px;
	
	
	}

.headers
{
	font-family:Arial, Helvetica, sans-serif;
	padding:15px;
	text-align:center;
	color:#333;
}

#block1
{
	float:left;
	border:1px solid;
	width:350px;
	height:300px;
	margin:0px auto;
	background:#FFFF9F;
	box-shadow:3px 3px 2px #888888;
	display:inline-block;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
}

#block2
{
	float:left;
	border:1px solid;
	margin-left:110px;
	width:350px;
	height:300px;
	box-shadow:3px 3px 2px #888888;
	background:#FFC58A;
	display:inline-block;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
}

#block3
{
	float:left;
	
	margin:0px auto;
	width:350px;
	height:300px;
	margin-top:40px;
	background:	#C2E8F5;
	box-shadow:3px 3px 2px #888888;
	display:inline-block;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	border:1px solid;
}

#block4
{
	float:left;
	border:1px solid;
	
	
	margin:0px auto;
	margin-top:40px;
	margin-left:110px;
	width:350px;
	height:300px;
	background:#F3EBAF;
	box-shadow:3px 3px 2px #888888;
	display:inline-block;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
}
.Main{
	width:810px;
	height:900px;
	margin:0px auto;
	opacity:0;
	background:#FFF;
	transition:all .4s linear;
	-ms-transition:all .4s linear;
	border-radius:10px;
	}
.Main:hover{
	opacity:1;
	background:#5dd183;
	}
.Main_wrap{
	
	
	width:810px;
	height:900px;
	margin:0px auto;
	background:url(back.png) no-repeat center;
	margin-bottom:25px;
	border-radius:10px;
	}	

.button
{
	
	background:#5dd183;
	width:60px;
	color:#FFF;
	height:20px;
	margin:0px auto;
	margin-top:150px;
	padding:6 10 4 10;
	transition:all .4s linear;
	-ms-transition:all .4s linear;
	-webkit-transition:all .4s linear;
	-moz-transition:all .4s linear;	
	cursor:pointer;
	font-weight:bold;
}



.button:hover
{
	background:#FFF;
	color:dada66;
	
}


#info
{
	background:5dd183;
	margin:0px auto;
	margin-top:20px;
	text-align:center;
	padding:25px;
	color:#FFF;
	width:770px;
	border-radius:10px;
	font-family:"Bell Gothic Std Black", Arial, Helvetica, sans-serif; font-weight:bold;
	
}

#info p{margin-top:10px;}

#large
{
	font-size:24px;
}
#block1 .button:hover
{
	background:#FFF;
	color:dada66;
	
}
#block4 .button:hover
{
	background:#FFF;
	color:dada66;
	
}
#block2 .button:hover
{
	background:#FFF;
	color:#89b7c7;
	
}
#block3 .button:hover
{
	background:#FFF;
	color:#dcb68e;
	
}

#lower
{
	width:820px;
	margin:0px auto;
	padding:20 0 20 0px;
}

#bottom
{
	min-width:810px;
	height:90px;
	background:#000;
	opacity:0.6;
}
#right{margin-right:0px;}
ul.navigation .selected{color:#FFF;}

.banner-wrap{ min-width:813px; padding:34px 0px; z-index:-20; }
#course
{
	height:550px;
	width:810px;
	margin:0px auto;
	background:1C9344;
	color:#990012;
        text-align :center;
	font-family:Comic sans MS;
	font:50px;
	border-radius:10px;
}
#s
{
	width:710px;
	height:450px;
	margin:0px auto;
	margin-top:45px;
}
#block5
{
	border:1px solid;
	
	height:auto;
	
	padding:10px;
	width:790px;
	margin:0px auto;
	background:#FFF;
	box-shadow:3px 3px 2px #888888;
	margin-top:20px;
	margin-bottom:20px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
}

#block6
{
	border:1px solid;
	
	height:auto;
	
	padding:10px;
	width:790px;
	margin:0px auto;
	background:#FFF;
	box-shadow:3px 3px 2px #888888;
	margin-top:20px;
	margin-bottom:20px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
}